body {
  min-height: 100vh;
  text-align: center;
}

.brand-logo.center {
  font-size: 3rem;
}

.mount.weather {
  display: block;
}

.page-footer {
  margin-top: 50px;
  padding-block-start: 0;
}

.date-display,
.time-display {
  display: block;
}

h2,
.date-display {
  font-size: 2rem;
}

.time-display {
  font-size: 1.5rem;
}

.mount {
  border: 5px solid #000;
  border-radius: 15px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

